alpha-vantage==2.3.1
dash~=2.14.1
pandas~=2.0.3
plotly~=5.18.0
python-dotenv~=1.0.0
pytz~=2023.3.post1
numpy~=1.24.4
boto3~=1.28.78
botocore~=1.31.78
matplotlib~=3.7.3
pyfinviz~=0.18
reportlab==4.0.6
tda-api==1.6.0
scipy~=1.10.1
seaborn~=0.13.0
mplfinance==0.12.10b0
requests==2.31.0
