alpha-vantage==2.3.1
boto3~=1.28.78
matplotlib~=3.7.3
seaborn~=0.13.0
pandas~=2.0.3
reportlab==4.0.6
requests==2.31.0
numpy~=1.24.4
pyfinviz~=0.18
tda-api==1.6.0
scipy==1.10.1

langchain~=0.0.331
openai~=0.28.1
# playwright~=1.39.0
# greenlet==3.0.0
pytz==2023.3.post1
google-api-python-client==2.106.0
pydantic==2.4.2
tiktoken==0.5.1



yfinance==0.2.31